<mat-tab-group>
<!--  <mat-tab>-->
<!--    <ng-template mat-tab-label>-->
<!--      <mat-icon>settings</mat-icon>-->
<!--      Configuration-->
<!--    </ng-template>-->
<!--    <div class="tab-content">-->
<!--      <grc-configuration></grc-configuration>-->
<!--    </div>-->
<!--  </mat-tab>-->

<!--  <mat-tab>-->
<!--    <ng-template mat-tab-label>-->
<!--      <mat-icon>terminal</mat-icon>-->
<!--      Parse-->
<!--    </ng-template>-->
<!--    <div class="tab-content">-->
<!--      <grc-parsing></grc-parsing>-->
<!--    </div>-->
<!--  </mat-tab>-->


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>verified_user</mat-icon>
      Fact Check
    </ng-template>
    <div class="tab-content">
      <grc-fact-check></grc-fact-check>
    </div>
  </mat-tab>
</mat-tab-group>
